{
	"root": true,
	"extends": ["prettier"],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier", "react", "react-hooks"],
	"rules": {},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"env": {
		"browser": true,
		"node": true
	},
	"globals": {
		"JSX": true
	}
}
