{
	"plugins": ["jsx-a11y"],
	"extends": ["plugin:jsx-a11y/recommended"],
	"rules": {
		"jsx-a11y/no-autofocus": "warn"
	},
	"settings": {
		"jsx-a11y": {
			"components": {
				"PaginationButton": "button"
			}
		}
	}
}
